footer {
    margin-top: 15px;
}

.footer-bottom{
    border-top: 1px grey solid;
    width: 80%;
    margin: 20px auto 10px auto;
    padding: 10px;
}

li {
    list-style-type: none;
}

#footer-img {
    border-bottom: 1px solid #000;
    border-radius: 50%;
}