{% extends 'layout.html'%}
{% block body %}

<div class="index-body container">

	<div class="container">

		<!-- <h1>Write article..</h1> -->
		<div class="card-header">Write Article</div>

		<form action="" method="post">

			<input class="form-control rounded-0" type="text" name="post_title" id="" placeholder="article header.."
				value="{% if request.form.get('post_title') %}{{ request.form.get('post_title') }}{% endif %}"
				autofocus />
			<!-- TODO: find a better way to add the key words -->
			<!-- look into controllers/write_article_processor.php -->

			<br>
			<div class="text-area">

				<textarea name="post_content" id="post_content" class="p-1 md-textarea form-control rounded-0" rows="3"
					placeholder="article body.."
					value="">{% if request.form.get('post_content') %}{{ request.form.get('post_content') }}{% endif %}</textarea>

				<br>
				<button name="post_submit_button" type="submit" class="btn btn-success btn-block"
					value="submit_article">POST ARTICLE</button>

			</div>

		</form>

	</div>

</div>

<!-- <script src='https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script> -->
<script src="{{url_for('static', filename='js/tinymce/js/tinymce/tinymce.min.js')}}"></script>
<script>
	tinymce.init({
		selector: '#post_content'
	});
</script>

{% endblock %}